{% include 'parts/header.html.twig' %}
<div class='panel panel-info'>
	<form id="new" class="form-horizontal" action="" method="post">
		<div class="mt-4 card mb-3">
			<div class="card-header text-center bg-cyan text-white">
				<button type="button" id="createbtn" data-type="user" class="action_create float-end btn btn-success mt-1 rounded-3 ms-1" type="button"><i class="bi bi-check-circle"></i></button>
				<h3 class="card-title">New User</h3>
			</div>
		<div class="card-body">
			<div class='col-12 col-md-12'>
				<div class="card card-body mb-2 bg-dark">
					<div class="col fw-bold">
						Name:<input name="name" class="form-control" required/>
					</div>
				</div>

				<div class="card card-body mb-2 bg-dark">
					<div class="col fw-bold debts">
						Debts:
						<select id='' multiple class='form-control' name="debts[]">
							{% for debt in alldebts %}
								<option value="{{ debt.id }}">{{ debt.debt }}</option>
							{% endfor %}
						</select>
					</div>
				</div>

				<div class="card card-body mb-2 bg-dark">
					<div class="col fw-bold">
						Notes:<textarea id="notes" name="notes" class="form-control" style="height:150px;"></textarea>
					</div>
				</div>

			</div>
		</div>
	</form>
</div>
{% include 'parts/footer.html.twig' %}