{% include 'parts/header.html.twig' %}
{% include 'parts/unauthorized.html.twig' %}
{% if logged_in is empty %}
<div class="p-5 my-4 bg-dark rounded-3">
    <p>Please log in using your Discord Account to access your account and debt information!</p>
    <p><a href="/login.php"><button class="btn navbar-btn btn-lg btn-info">Log In With Discord</button></a></p>
</div>
{% endif %}
{% include 'parts/footer.html.twig' %}