{% include 'parts/header.html.twig' %}
{% include 'parts/unauthorized.html.twig' %}
{% if logged_in is empty %}
<div class="card card-body p-5 my-4 rounded-3">
    <h1>Debt Manager</h1>
    <p>Please log in using your Discord Account to access your account and debt information!</p>
    <p><a href="/login.php"><button class="btn navbar-btn btn-info">Log In With Discord &nbsp; <i class="bi bi-box-arrow-in-right text-white align-middle fs-4"></i></button></a></p>
</div>
{% endif %}
{% include 'parts/footer.html.twig' %}