#submit,
#placeholder,
#cancel {
	display: none;
}

.container-fluid {
	max-width: 1800px;
}

#notes {
	width: 100%;
	height: 200px;
}

.fullwidthinput {
	width: 100% !important;
}

.paidyes {
	color: #62c462;
}

.paidno {
	color: #ee5f5b;
}

.paidover {
	color: #62b6c4;
}

.paidpartial {
	color: #eea05b;
}

a:hover {
	color: darkcyan;
	text-decoration: none;
}

#name { 
	display: inline-block;
	width: auto;
}

@media only screen and (max-width: 768px) {
	.mobile-list li:after {
		content: ", ";
	}

	.mobile-list li:last-child:after {
		content: "";
	}
	
	.mobile-list li {
		display: inline;
	}

	#users-total {
		text-align: center;
	}
}

.bootstrap-table .fixed-table-container .table tbody tr .card-view {
	margin-bottom: 0.25rem;
}

.bootstrap-table .fixed-table-container .table tbody tr .card-view .card-view-title {
	width: 100% !important;
}

.bootstrap-table .fixed-table-toolbar .search {
    background-color: var(--bs-dark);
}

.bg-cyan {
	background-color: var(--bs-cyan);
}

@media(prefers-color-scheme: light) {
	.bg-dark {
		--bs-bg-opacity: 1;
		background-color: var(--bs-gray-100)!important;
	}
	nav.bg-dark {
		-bs-bg-opacity: 1;
    	background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
	}
	
}

.fixed-table-loading {
    visibility: hidden;
    top: 0px;
    display: none;
}

.loading-wrap {
    visibility: hidden;
    display: none;
}

.table-loading {
    visibility: hidden;
    display: none;
}

.loading {
    visibility: hidden;
    display: none;
}