#submit,
#placeholder,
#cancel {
	display: none;
}

.container-fluid {
	max-width: 1800px;
}

#notes {
	width: 100%;
	height: 90%;
}

.fullwidthinput {
	width: 100% !important;
}

.paidyes {
	color: #62c462;
}

.paidno {
	color: #ee5f5b;
}

.paidover {
	color: #62b6c4;
}

.paidpartial {
	color: #eea05b;
}

a:hover {
	color: darkcyan;
	text-decoration: none;
}

.MobilePrefix {
	display: none;
}

#name { 
	display: inline-block;
	width: auto;
}

@media only screen and (max-width: 480px), (max-device-width: 1024px) {
	
	.MobilePrefix {
		font-weight: bold;
		display: block;
		text-decoration: underline;
	}

	#users-total {
		text-align: center;
	}

	.table-mobile,
	.table-mobile thead,
	.table-mobile tbody,
	.table-mobile th,
	.table-mobile td,
	.table-mobile tr,
	.table-mobile h2 {
		display: block;
		text-align: center;
		border-top: none !important;
	}

	.table-mobile thead tr {
		display: none;
	}

	.table-mobile tr {
		margin-bottom: 15px;
		background-color: #1a1b1d9c !important;
		box-shadow: 5px 10px 5px 0px rgba(0, 0, 0, 0.75);
		border-radius: 15px;
	}

	.table-mobile td:before {
		font-weight: bold;
	}

	.table-mobile {
		background-color: #2e3338 !important;
	}

	.table-mobile td:nth-of-type(1) {
		background-color: black;
		border-radius: 15px 15px 0px 0px;
		text-align: center;
		font-size: 2.5rem;
	}

	.panel-info .panel-heading {
		border: none;
	}

	.panel-title {
		text-align: center;
	}
}

