<div class="text-start float-start ms-2 my-2">
  <button type="button" data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-lg btn-danger"><i class="bi bi-trash align-middle me-2" ></i>Delete</button>                    
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirm Delete</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"></span>
            </button>
          </div>
          <div class="modal-body">
            <p>You are about to delete <span class="fw-bold">{{name}}</span>, this procedure is irreversible. </p>
            <p>Do you want to proceed?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" data-bs-dismiss="modal" data-id="{{ id }}" data-type="{{ type }}" class="btn btn-danger action_delete">Delete</button>
           </div>
        </div>
      </div>
  </div>