{% include 'parts/header.html.twig' %}
<div class='panel panel-info'>
	<form class="form-horizontal" action="" method="post">

		<div class="mt-4 card mb-3">
			<div class="card-header text-center bg-cyan text-white">
				<h3 class='panel-title'><span style='font-size: 20pt;'>New User</span></h3>
			</div>
		<div class="card-body">
			<div class='col-12 col-md-12'>
				<div class="card card-body mb-2 bg-dark">
					<div class="col fw-bold">
						Name:<input name="name" class="form-control" required/>
					</div>
				</div>

				<div class="card card-body mb-2 bg-dark">
					<div class="col fw-bold debts">
						Debts:
						<select id='' multiple class='form-control' name="debts[]">
							{% for debt in alldebts %}
								<option value="{{ debt.id }}">{{ debt.debt }}</option>
							{% endfor %}
						</select>
					</div>
				</div>

				<div class="card card-body mb-2 bg-dark">
					<div class="col fw-bold">
						Notes:<textarea id="notes" name="notes" class="form-control" style="height:150px;"></textarea>
					</div>
				</div>
				
				<div class="text-end">
					<input id="submitnew" type="submit" value="Submit" name="submit" style="vertical-align: bottom;" class="btn btn-lg btn-success"/>
				</div>
				
			</div>
		</div>
	</form>
</div>
{% include 'parts/footer.html.twig' %}