			<footer class="footer">
				<div class="row text-center pt-3">
					<small>Debt Manager - Created by <a href="https://cyanlabs.net" target="_blank">Fma965</a></small>
				</div>
			</footer>
		</div>
		<script src="/assets/js/script.js" type="text/javascript"></script>
		<script src="/assets/js/bootstrap-table.min.js" type="text/javascript"></script>
		<script src="/assets/js/bootstrap-table-mobile.min.js"type="text/javascript"></script>
	</body>
</html>