<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="color-scheme" content="light dark">
		
		<script>
		// If `prefers-color-scheme` is not supported, fall back to light mode.
		// i.e. In this case, inject the `light` CSS before the others, with
		// no media filter so that it will be downloaded with highest priority.
		if (window.matchMedia("(prefers-color-scheme: dark)").media === "not all") {
			document.documentElement.style.display = "none";
			document.head.insertAdjacentHTML(
			"beforeend",
			"<link id=\"css\" rel=\"stylesheet\" href=\"/assets/css/bootstrap.min.css\" onload=\"document.documentElement.style.display = ''\">"
			);
		}
		</script>
		
		<link id="css-dark"rel="stylesheet" href="/assets/css/bootstrap-slate.min.css" media="(prefers-color-scheme: dark)" />
		<link id="css-light" rel="stylesheet" href="/assets/css/bootstrap.min.css" media="(prefers-color-scheme: light)"/>
		
		<script>
		// from: https://stackoverflow.com/questions/9899372#9899701
		function docReady(fn) {
			// see if DOM is already available
			if (document.readyState === "complete" || document.readyState === "interactive") {
			// call on next available tick
			setTimeout(fn, 1);
			} else {
			document.addEventListener("DOMContentLoaded", fn);
			}
		}

		docReady(function() {
			// DOM is loaded and ready for manipulation from here

			// parts from: https://radek.io/posts/secret-darkmode-toggle/

			const toggle_btn = document.getElementById('toggle-btn');
			var isCssInit = false;

			function setColorPreference(color_p, persist = false) {
			const new_s = color_p;
			const old_s = color_p === 'light' ? 'dark' : 'light'

			const el = document.body;  // gets root <html> tag
			el.classList.add('color-scheme-' + new_s);
			el.classList.remove('color-scheme-' + old_s);

			if (persist) {
				localStorage.setItem('preferred-color-scheme', color_p);
			}
			}

			function updateUI(color_p, id = 'css') {
			toggle_btn.checked = color_p === 'dark';

			if (isCssInit) {
				const el = document.querySelector('#'+id);
				const data = el.dataset;
				if (toggle_btn.checked) {
				el.setAttribute('href', data.hrefDark)
				} else {
				el.setAttribute('href', data.hrefLight);
				}
				data.colorScheme = color_p;
			}
			}

			function initColorCSS(color_p, id = 'css') {
			isCssInit = true;

			el_o = document.querySelector('#'+id);
			if (el_o !== null) el_o.remove();
			el_l = document.querySelector('#'+id+'-light');
			el_d = document.querySelector('#'+id+'-dark');
			if (color_p === 'dark') {
				el = el_d;
				el_o = el_l;
			} else {
				el = el_l;
				el_o = el_d;
			}
			el.setAttribute('data-href-light', el_l.getAttribute('href'));
			el.setAttribute('data-href-dark', el_d.getAttribute('href'));
			el.setAttribute('data-color-scheme', color_p);
			el.setAttribute('media', 'all');
			el.setAttribute('id', id);
			el_o.remove();
			}

			toggle_btn.addEventListener('click', () => {
			const color_p = toggle_btn.checked ? 'dark' : 'light';

			if (!isCssInit) initColorCSS(color_p);

			setColorPreference(color_p, true);
			updateUI(color_p);
			});

			document.addEventListener("keypress", function(event){
			var keyName = event.key;
			if ((keyName == 'd') || (keyName == 'D')) {
				toggle_btn.click();
			}
			});

			/* Set Preference on load */
			const osColorPreference = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
			// console.log('OS wants ' + osColorPreference);
			var preferredColorScheme = localStorage.getItem('preferred-color-scheme');
			if (preferredColorScheme !== null) {
			initColorCSS(preferredColorScheme);
			} else {
			preferredColorScheme = osColorPreference;
			}
			setColorPreference(preferredColorScheme, false);
			updateUI(preferredColorScheme);
		});
		</script>

		<link rel="stylesheet" href="/assets/css/bootstrap-table.min.css"/>
		<link rel="stylesheet" href="/assets/css/style.css"/>
		<link rel="stylesheet" href="/assets/css/bootstrap-icons.css"/>

		<script src="/assets/js/jquery-3.6.1.min.js" type="text/javascript"></script>
		<script src="/assets/js/bootstrap.bundle.min.js" type="text/javascript"></script>

		<title>Debt Manager</title>
	</head>
    <body>
		<main>
			<nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Fourth navbar example">
				<div class="container-fluid" style="position: relative;">
					<div class="d-flex">
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						  </button>		 
						  <a class="navbar-brand" href="/">💸 Debt Manager</a>		
					</div>
						 
					  <div class="collapse navbar-collapse" id="navbar">
						<ul class="navbar-nav me-auto mb-2 mb-md-0">
						  {% if admin == true %}
						<li class="nav-item"><a href="/admin" class="nav-link">Admin</a></li>
						<li class="nav-item"><a href="/admin/newuser.php" class="nav-link">New User</a></li>
						<li class="nav-item"><a href="/admin/newdebt.php" class="nav-link">New Debt</a></li>
						{% endif %}
						</ul>
					  </div>

					  <div class="dropdown text-end" style="position: absolute;	top: 12px; right: 24px;">
						{% if logged_in is empty %}
						<a href="/login.php"><button class="btn btn-sm navbar-btn btn-info">Log In With Discord &nbsp; <i class="bi bi-box-arrow-in-right text-white align-middle fs-6"></i></button></a>
						{% else %}
						<a href="#" class="d-block link-dark text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="-1000,20">
							<img src="{{ discord.avatar }}" width="32" height="32" class="rounded-circle">
						  </a>
						<ul class="dropdown-menu text-small" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 34px);" data-popper-placement="bottom-end">
						  <li><a class="dropdown-item" href="/">Profile</a></li>
						  <li><hr class="dropdown-divider"></li>
						  <li><a class="dropdown-item" href="/logout.php">Sign out</a></li>
						</ul>
						{% endif %}
					  </div>
					</div>
				</div>
			  </nav>
		</main>
	    <div class="container-fluid"> 
			{% include 'parts/status.html.twig' %}