{% if status.status == "success" and status.message != null %}
    <div id="status" class="alert alert-success" role="alert">{{ status.message }}
{% elseif status.status == "success" %}
    <div id="status" class="alert alert-success" role="alert">Action completed successfully
{% elseif status.status == "error" and status.message != null %}
    <div id="status" class="alert alert-danger" role="alert">{{ status.message }}
{% elseif status.status == "error" %}
    <div id="status" class="alert alert-danger" role="alert">Error completing action.
{% endif %}
{% if (status.status == "success" or status.status == "error") %}
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
{% endif %}