{% if status.status == "success" and status.message != null %}
    <div id="status" class="alert alert-success" role="alert">{{ status.message }}</div>
{% elseif status.status == "success" %}
    <div id="status" class="alert alert-success" role="alert">Action completed successfully</div>
{% elseif status.status == "error" and status.message != null %}
    <div id="status" class="alert alert-danger" role="alert">{{ status.message }}</div>
{% elseif status.status == "error" %}
    <div id="status" class="alert alert-danger" role="alert">Error completing action.</div>
{% endif %}