{% if status.status == "success" and status.message != null %}
    <div id="status" class="alert alert-success alert-dismissible fade show mt-4" role="alert">{{ status.message }}
{% elseif status.status == "success" %}
    <div id="status" class="alert alert-success alert-dismissible fade show mt-4" role="alert">Action completed successfully
{% elseif status.status == "error" and status.message != null %}
    <div id="status" class="alert alert-danger alert-dismissible fade show mt-4" role="alert">{{ status.message }}
{% elseif status.status == "error" %}
    <div id="status" class="alert alert-danger alert-dismissible fade show mt-4" role="alert">Error completing action.
{% endif %}
{% if (status.status == "success" or status.status == "error") %}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}