<div class="alert alert-danger d-flex align-items-center justify-content-between fade show mt-3" role="alert"><div>
        <h1><i class="bi flex-shrink-0 me-2 bi-exclamation-triangle-fill" width="24" height="24" role="img" aria-label="Danger:"></i>Unauthorized</h1>
        <p>You are not authorized to view this page!</p>
    </div>
</div>