<div class="modal" id="newTransaction" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-cyan text-white">
          <h5 class="modal-title">New Transaction</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="new" class="form-horizontal" action="" method="post">
                <div class="card-body">
                    <div class='col-12 col-md-12'>
      
                        <div class="card card-body mb-2 bg-dark">
                            <div class="col fw-bold">
                                Counter Party: <input name="counterPartyName" type="text" class="form-control" required/>
                            </div>
                        </div>
        
                        <div class="card card-body mb-2 bg-dark">
                            <div class="col fw-bold">
                                Amount:<input name="amount" type="number" step="0.01" class="form-control" required/>
                            </div>
                        </div>				
        
                        <div class="card card-body mb-2 bg-dark">
                            <div class="col fw-bold">
                                Date: <input name="created" type="datetime-local" class="form-control" value="{{ "now"|date('Y-m-d\\TH:i') }}" required/>
                            </div>
                        </div>	

                        <div class="card card-body mb-2 bg-dark">
                            <div class="col fw-bold">
                                Transaction ID:<input name="transactionId" class="form-control" value="{{ 'now'|date('U') }}" required/>
                            </div>
                        </div>

                        <input name="reference" type="hidden" class="form-control" value="{{ details.reference }}" required/>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-lg btn-danger" data-bs-dismiss="modal">Cancel</button>
            <a class="action_create btn btn-success btn-lg" data-bs-dismiss="modal" data-id="{{ details.id }}" data-type="transaction" type="button"><i class="bi bi-file-earmark-plus me-2"></i>Create</a>
        </div>
      </div>
    </div>
</div>